*{
    margin: 0;
    padding: 0;
   font-family: popins-regular;
}

/* main head */
#main_head{
    height: 40px;
    width: 100%;
    background-color: #1E8A71;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px 0px 0px 60px;
}


#home{
    background-color: #fff ;
    height: 100%;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #1E8A71;
    font-weight: 700;

}

/* cell , row , column conatiner */
#root{
    width: 100vw;
    height: 65vh;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-top: 30px;
    position: relative;
}

/* header section A,B,C,D<e */
#header{
    width: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 120;
    background-color: #fff;

}

.head-cell{
    min-width: 105px;
    height: 30px;
    border: 0.11px solid #838483;
    border-top-width:2px ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.head-cell:first-child{
   
    background-color: #f8f7fa;
    min-width: 41px !important;
    position: sticky;
    top: 0;
    left: 0;

   
}


/* body part */
#body{
    display: grid;
    grid-template-columns: 42px auto;
}
/* serial number 1,2,3,5 */
#sno{
   position: sticky !important;
   left: 0;
   top: 0;
   z-index: 100;
   background-color: #fff;
}
.sno-cell{
    height: 35px;
    border: 0.11px solid #838483;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

/* cell of body */
#cells-container{
   z-index: 10;
}

.row{
    display: flex;

}

.cell{
     width: 105px;
    height: 35px;
    border: 0.11px solid #838483;
    overflow: hidden;
}
.cell:focus{
    border-radius: none;
    outline: 2px dotted #1B72E8;
    
}

#active-cell-display{
    background-color: #838483;
}


@font-face{
    font-family: popins-extra-bold;
    src: url(./font-family/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: popins-medium;
    src: url(./font-family/Poppins-Medium.ttf);
}
@font-face {
    font-family: popins-regular;
    src: url(./font-family/Poppins-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(./font-family/Roboto-Thin.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(./font-family/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-black;
    src: url(./font-family/Roboto-Black.ttf);
}
@font-face {
    font-family: roboto-medium;
    src: url(./font-family/Roboto-Medium.ttf);
}
